@mixin rotation($base_klass, $padding, $transitionTime) {
  $tiltAngle: 25deg;

  &--direction-up {
    transition: height $transitionTime;

    .#{$base_klass}__page {
      top: 50%;
      transform: rotateX(0deg);
      transform-origin: 100% 0;
      transition: transform $transitionTime, top $transitionTime;

      &--shadowed {
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;left: 0;
          width: 100%;
          height: 100%;
          // background: rgba(0, 0, 0, 0);
          background: linear-gradient(to top, transparent, black);
          z-index: 1;
          opacity: 0;
          transition: opacity $transitionTime;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.15);
          z-index: 1;
          opacity: 0;
          transition: opacity $transitionTime;
        }
      }

      &.hover {
        transform: rotateX($tiltAngle);
        &::before {
          opacity: 0.3;
        }
      }

      &:not(.#{$base_klass}__page--top) {
        &::after { opacity: 1; }
      }

      &--processing {
        pointer-events: none;
      }

      &--flipped {
        transform: rotateX(180deg);
        &.hover {
          transform: rotateX(180deg - $tiltAngle);
        }
      }

      &--back {
        transform: rotateX(180deg);
      }

      &--blank {
        background-color: #fff;
      }
    }

    &.#{$base_klass}--fill-single {
      overflow-y: clip;
      overflow-x: visible;

      .#{$base_klass}__page {
        top: 10%;
      }
    }

    &.#{$base_klass}--closed {
      .#{$base_klass}__page {
        top: $padding;
      }
    }

    &.#{$base_klass}--closed.#{$base_klass}--flipped {
      .#{$base_klass}__page {
        // background-color: red;
        top: calc(100% - $padding);
      }
    }
  }
}
