@mixin rotation($base_klass, $padding) {
  &--direction-up {
    transition-property: height, padding;

    .#{$base_klass}__page {
      top: 0;
      transform: rotateX(0deg);
      transform-origin: 100% 0;

      &--shadowed {
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          // TODO: show shadow on another page dynamically depending on angle of rotation
          transition: opacity 800ms;
        }
        &::after { background: rgba(0, 0, 0, 0.15); }
      }

      &:not(.#{$base_klass}__page--top) {
        pointer-events: none;
        &::after { opacity: 1; }
      }

      &--processing {
        pointer-events: none;
      }

      &--back {
        transform: rotateX(180deg);
      }

      &--blank {
        background-color: #fff;
      }
    }

    &.#{$base_klass}--fill-single {
      // overflow-y: clip;
      // overflow-x: visible;
    }
  }
}
