@mixin rotation($base_klass, $padding) {
  $tiltAngle: 25deg;

  &--direction-left {
    transition-property: width;

    .#{$base_klass}__page {
      left: 50%;
      transform: rotateY(0deg);
      transform-origin: 0 100%;
      transition-property: transform, left;

      &--shadowed {
        &::before, &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          transition-duration: inherit;
          transition-property: opacity;
        }
        &::before { background: linear-gradient(to left, transparent, black); }
        &::after { background: rgba(0, 0, 0, 0.15); }
      }

      &.hover {
        transform: rotateY(-$tiltAngle);
        &::before { opacity: 0.3; }
      }

      &:not(.#{$base_klass}__page--top) {
        pointer-events: none;
        &::after { opacity: 1; }
      }

      &--processing {
        pointer-events: none;
      }

      &--flipped {
        transform: rotateY(-180deg);
        &.hover {
          transform: rotateY(-180deg + $tiltAngle);
        }
      }

      &--back {
        transform: rotateY(180deg);
      }

      &--blank {
        background-color: #fff;
      }
    }

    &.#{$base_klass}--fill-single {
      overflow-x: clip;
      overflow-y: visible;

      .#{$base_klass}__page {
        left: 10%;
      }
    }

    &.#{$base_klass}--closed {
      .#{$base_klass}__page {
        left: $padding;
      }
    }

    &.#{$base_klass}--closed.#{$base_klass}--flipped {
      .#{$base_klass}__page {
        left: calc(100% - $padding);
      }
    }
  }
}

