:root {
  // NOTE: colors
  --flipper-primary-color: #234;
  --flipper-secondary-color: #eacd50;
  --flipper-border-color: #999;
  --flipper-page-bg: white;

  // NOTE: font parameters
  --flipper-font-size: 15px;
  --flipper-font-color: #333;
}
